<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="operation-status">

<!--    <th:block th:if="${messages}">-->
<!--        <div class="fixed-bottom alert alert-success alert-dismissible" th:hidden="${messages.isEmpty()}">-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>-->
<!--            <ul>-->
<!--                <li th:each="message : ${messages}" th:text="${message}"></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </th:block>-->
    <th:block th:if="${errors}">
        <div class="fixed-bottom alert alert-danger alert-dismissible" th:hidden="${errors.isEmpty()}">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <ul>
                <li th:each="error : ${errors}" th:text="${error}"></li>
            </ul>
        </div>
    </th:block>

    <th:block th:if="${success}">
        <div class="fixed-bottom alert alert-success alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong th:text="${success}"></strong>
        </div>
    </th:block>

    <th:block th:if="${wrongId}">
        <div class="fixed-bottom alert alert-danger">
            <strong th:text="${wrongId}"></strong>
        </div>
    </th:block>

    <th:block th:if="${hasError} == true">
        <div class="fixed-bottom alert alert-danger alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h5>Please correct errors below:</h5>
            <ul>
                <li th:each="error : ${bindingResult.allErrors}" th:text="${error.defaultMessage}"></li>
                <!--            <li th:each="err : ${#fields.errors('customerDTO.*')}" th:text="${err}"></li>-->
            </ul>
        </div>
    </th:block>
</html>